<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольный аппендер -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Уровень логирования для корневого логгера -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Можно добавить логгеры для конкретных пакетов -->
        <!--
        <Logger name="com.myapp" level="info" additivity="false">
          <AppenderRef ref="Console"/>
        </Logger>
        -->
    </Loggers>
</Configuration>